<p id="welcome"><script>document.write(greeting('Colby',"<%= @count %>")); </script></p>
<% unless @entries.empty? %>
	<ul>
	<% @entries.each do |entry| %>
	  <li id="<%= entry["id"] %>"><a href="/entry/<%= entry["id"] %>"><%= entry["title"].to_s %></a> - <a id="mark_read" onclick="markRead(<%= entry["id"] %>);" class="button">Mark as Read</a></li>
	<% end %>
	</ul>
<a href="/read/all">Mark all as read.</a> - 
<% else %>
<p>You have no unread entries</p>
<% end %>
<a href="/logout">Log out</a>

<br>

<div id="subscribe">
  <span>Subscribe to a feed.</span>

  <form method="entry" action="/subscribe">
      <input type="text" name="url" placeholder="http://aley.me" />
      <input type="submit" value="Subscribe" action="/subscribe" />
  </form>
</div>

<br><br>
